import(BiocGenerics)
import(SummarizedExperiment)
import(iSEE)
import(tibble)
import(DEP)
import(shiny)
import(shinydashboard)
import(S4Vectors)
import(rentrez)
import(dplyr)

export(isee_data)
export(isee_mini)
export(list_data)
